.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}
h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
button {
  background: red;
  background-image: -webkit-linear-gradient(top, red, red);
  background-image: -moz-linear-gradient(top, red, red);
  background-image: -ms-linear-gradient(top, red, pink);
  background-image: -o-linear-gradient(top, red, pink);
  background-image: linear-gradient(to bottom, red, red);
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: 'Lobster',cursive;
  color: #4ECCA3;
  font-size: 50px;
  padding: 6px 40px 10px 40px;
  text-decoration: none;
}

button:hover {
  background: pink;
  background-image: -webkit-linear-gradient(top, pink,pink);
  background-image: -moz-linear-gradient(top,pink,pink);
  background-image: -ms-linear-gradient(top, pink,pink);
  background-image: -o-linear-gradient(top, pink,pink);
  background-image: linear-gradient(to bottom, pink,pink);
  text-decoration: none;
}
